#table {
  border-collapse: collapse;
  user-select: none; /*요소에 블록 씌우지 않음*/
}

#table td {
  border: 5px solid black;
  width: 150px;
  height: 150px;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}
